@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #3a4c84; */
  /* background: rgb(60, 79, 136);
  background: linear-gradient(
    180deg,
    rgba(60, 79, 136, 1) 0%,
    rgba(58, 77, 133, 1) 50%,
    rgba(52, 69, 122, 1) 100%
  ); */
}

.back {
  background: rgb(60, 78, 136);
  background: linear-gradient(
    180deg,
    rgba(60, 78, 136, 1) 0%,
    rgba(51, 69, 122, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
